<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      placeholder="John"
      formControlName="firstName"
      required
    />
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
      <!-- <div *ngIf="firstName.errors.required"> -->
      <div *ngIf="profileForm.controls['firstName'].hasError('required')">
        First name is required.
      </div>
    </div>
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" placeholder="Doe" formControlName="lastName" />
    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
      <div *ngIf="profileForm.controls['lastName'].hasError('required')">
        Last name is required.
      </div>
    </div>
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="john.doe@caramail.fr"
      formControlName="email"
    />
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="profileForm.controls['email'].hasError('required')">
        Email is required.
      </div>
      <div *ngIf="profileForm.controls['email'].hasError('email')">
        Email must be...an email.
      </div>
    </div>
    <label for="password">Password</label>
    <input
      type="text"
      class="form-control"
      id="password"
      placeholder="**********"
      formControlName="password"
    />
    <div
      *ngIf="
        password.invalid &&
        (password.dirty || password.touched) &&
        profileForm.controls['password'].hasError('required')
      "
      class="alert alert-danger"
    >
      Password is required.
    </div>
    <div
      *ngIf="
        password.invalid &&
        (password.dirty || password.touched) &&
        profileForm.controls['password'].hasError('minlength')
      "
      class="alert alert-danger"
    >
      Password must be 8 characters long.
    </div>
    <label for="confirmPassword">Confirm password</label>
    <input
      type="text"
      class="form-control"
      id="confirmPassword"
      placeholder="Must match"
      formControlName="confirmPassword"
    />
    <div
      *ngIf="
        confirmPassword.invalid &&
        (confirmPassword.dirty || confirmPassword.touched) &&
        profileForm.controls['confirmPassword'].hasError('required')
      "
      class="alert alert-danger"
    >
      Password is required.
    </div>
    <div
      *ngIf="
        confirmPassword.invalid &&
        (confirmPassword.dirty || confirmPassword.touched) &&
        profileForm.controls['confirmPassword'].hasError('minlength')
      "
      class="alert alert-danger"
    >
      Password must be 8 characters long.
    </div>
    <div
      *ngIf="
        confirmPassword.invalid &&
        (confirmPassword.dirty || confirmPassword.touched) &&
        profileForm.controls['confirmPassword'].hasError('PasswordsDifferent')
      "
      class="alert alert-danger"
    >
      Password confirmation must be the same as the password.
    </div>

    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </div>
</form>
